.calculate-container__squares {
    width: 320px;
    height: 468px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    &--img {
        position: relative;
        display: grid;
        place-items: center;
        width: 177px;
        height: 218px;
        margin-top: 20px;
        background-image: url(https://raw.githubusercontent.com/Jefersonsteven/math-aplication-JS-FG/17fd2ba4913b370cb5691ff4892b8f9fd4b12e09/public/assets/Img/square.svg);
        @include ajustarImagen;
    }
    &--img p {
        background-color: $color-white;
        border-radius: 2px;
        padding: 5px;
    }
    &--buttons {
        width: 291px;
        display: flex;
        justify-content: space-between;
    }
}