.calculate-container__circles {
    width: 320px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    &--img {
        position: relative;
        display: grid;
        place-items: center;
        width: 177px;
        height: 218px;
        margin-top: 20px;
        background-image: url(/public/assets/Img/circle.png);
        @include ajustarImagen;
        background-size: contain;
    }
    &--img p {
        background-color: $color-white;
        border-radius: 2px;
        padding: 5px;
    }
    &--buttons {
        width: 291px;
        display: flex;
        justify-content: space-between;
    }
}