$font-primary:'Josefin Sans', sans-serif;
$color-primary: #2F5DA8;
$color-primary-clear: #4987EB;
$color-secondary: #602C76;
$color-white: #f4f4f4;
$color-black: #141414;

html {
    font-size: 62.5%;
}

body {
    font-family: $font-primary;
    font-size: 1.6rem;
}

.button {
    border: none;
    border-radius: 6px;
    background: $color-primary;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: $color-white;
    cursor: pointer;
}

.button:hover {
    background: $color-primary-clear;
}

input {
    width: 269px;
    height: 34px;
    background: $color-white;
    box-shadow: inset 0px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}